<div class="form-group" ng-show="queryResult">
  <label>Name</label>
  <input type="string" placeholder="{{getDefaultName()}}" class="form-control" ng-model="alert.name">
</div>
<div ng-show="queryResult" class="form-horizontal">
  <div class="form-group">
    <label class="control-label col-md-2">Value column</label>
    <div class="col-md-4">
      <select ng-options="name for name in queryResult.getColumnNames()" ng-model="alert.options.column"
              class="form-control"></select>
    </div>
    <label class="control-label col-md-2">Value</label>
    <div class="col-md-4">
      <p class="form-control-static">{{queryResult.getData()[0][alert.options.column]}}</p>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-2">Op</label>
    <div class="col-md-4">
      <select ng-options="name for name in ops" ng-model="alert.options.op" class="form-control"></select>
    </div>
    <label class="control-label col-md-2">Reference</label>
    <div class="col-md-4">
      <input type="number" class="form-control" ng-model="alert.options.value" placeholder="reference value"
             required/>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-2">Rearm seconds</label>
    <div class="col-md-4">
      <input type="number" class="form-control" ng-model="alert.rearm"/>
    </div>
  </div>
</div>
