<page-header title='{{alert.name || "New" }}'>
</page-header>

<div class="container">
  <email-settings-warning function="alert emails"></email-settings-warning>

  <div class="container">
    <div class="row bg-white p-10">
      <div class="col-md-8">
        <form name="alertForm" ng-submit="saveChanges()" class="form">
          <div class="form-group">
            <label>Query</label>
            <ui-select ng-model="alert.query" reset-search-input="false" on-select="onQuerySelected($item)">
              <ui-select-match placeholder="Search a query by name">{{$select.selected.name}}</ui-select-match>
              <ui-select-choices repeat="q in queries"
                                 refresh="searchQueries($select.search)"
                                 refresh-delay="0">
                <div ng-bind-html="q.name | highlight: $select.search | trustAsHtml"></div>
              </ui-select-choices>
            </ui-select>
          </div>

          <arima-alert ng-show="queryResult"></arima-alert>

          <div class="form-group">
            <button class="btn btn-primary" ng-disabled="!alertForm.$valid">Save</button>
          </div>
        </form>
      </div>
      <div class="col-md-4" ng-if="alert.id">
        <alert-subscribers alert-id="alert.id"></alert-subscribers>
      </div>
    </div>
  </div>
</div>
